$orange : #ff9900;
$blue : #00b4ea;
header.blog-mainheader {
  border-top: 2px solid $orange;
  padding:15px;
  background-color: $blue;
  .blog-logo{
    float:left;
    img {
      width: 140px;
      height: 20px;
      display: block;
      text-indent: -900px;
    }
  }
  .blog-mainheader-wrapper{
    overflow:hidden;
  }

  .blog-companysitewrapper{
    float:right;
    a{
      color:#fff;
      font-size: 16px;
    }
  }
}
    